[submodule "themes/dot"]
	path = themes/dot
	url = https://github.com/themefisher/dot-hugo-documentation-theme.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/playbook-hugo-theme"]
	path = themes/playbook-hugo-theme
	url = git@github.com:betrybe/playbook-hugo-theme.git
